name: Release

on:
  push:
    tags:
      - 'release/[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: read

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: ./gradlew buildPlugin --stacktrace

      - name: Upload and Release
        uses: fnkr/github-action-ghr@v1
        env:
          GHR_PATH: build/distributions/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}